{% extends 'index.html'%}
{% load staticfiles %}
{% block head %}
    <style>
    .bground{
        background: lightgray;
        color: black;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
    </style>
{% endblock %}
{% block mycode %}
    <div class="container">
        <div class='row'>
            <div class="col-md-8" style="box-shadow: 0px 0px 10px black;margin-left:10%;margin-right:10%;background: cornsilk;">
            <div class="row">
                <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Physical</span></div>
            </div>  
            <div class="row " style="margin-top:20px;">
                    <div class="col-md-6" >
                <div class='row' style="padding:10px;">
                    <div class='col-md-6 bground visible'>
                        <i class="far fa-circle" style="color:red;font-size:10px;margin-bottom:15px"></i>
                        <span>Height</span>
                    </div><div class='col-md-6 visible'>
                        <span>{{details.height}}</span>
                    </div>
                </div>
            </div> 
            <div class="col-md-6" >
                    <div class='row' style="padding:10px;">
                        <div class='col-md-6 bground visible'>
                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                               <span>Blood Group</span>
                           </div><div class='col-md-6 visible'>
                           <span>{{details.blood_group}}</span>
                           </div>
                       </div>
                   </div> 
                   <div class="col-md-6" >
                        <div class='row' style="padding:10px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Weight</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.weight}}</span>
                            </div>
                        </div>
                    </div>                     
                    <div class="col-md-6" >
                            <div class='row' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span style="font-size:15px">Disease(if any)</span>
                                </div><div class='col-md-6 visible'>
                                    <span>{{details.disease}}</span>
                                </div>
                            </div>
                        </div>                                      
                </div> 
                <div class="row" style="margin-top:20px;">
                        <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Vision</span></div>
                    </div> 
                <div class="row" style="margin-top:20px;">
                        <div class="col-md-6" >
                                <div class='row' style="padding:10px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Left Eye</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.left_eye}}</span>
                                    </div>
                                </div>
                            </div>                         
                            <div class="col-md-6" >
                                    <div class='row' style="padding:10px;">
                                        <div class='col-md-6 bground visible'>
                                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                            <span>Right Eye</span>
                                        </div><div class='col-md-6 visible'>
                                            <span>{{details.right_eye}}</span>
                                        </div>
                                    </div>
                            </div>                  
                    </div>   
                    <div class="row" style="margin-top: 15px;">
                            <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Hearing</span></div>
                    </div> 
                    <div class="row" style="margin-top:20px;">
            <div class="col-md-6" >
                    <div class='row' style="padding:10px;">
                        <div class='col-md-6 bground visible'>
                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                            <span>Left Ear</span>
                        </div><div class='col-md-6 visible'>
                            <span>{{details.left_ear}}</span>
                        </div>
                    </div>
                </div>                         
                   <div class="col-md-6" >
                           <div class='row' style="padding:10px;">
                               <div class='col-md-6 bground visible'>
                                   <i class="far fa-circle" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                   <span>Right Ear</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.right_ear}}</span>
                            </div>
                        </div>
                    </div>                
                    </div> 
                   
                                                                              
            </div>
        </div>
    </div>
{% endblock %}