{% extends "hr.html" %}
{% load staticfiles %}
{% block mycode %}
<style>

</style>
<div class="row">
    <div class="col-md-12"style="background-image:url('{% static 'image/3.jpg'}')">
        <h1 style="text-align: center;">User profile</h1>
        <table class="table" style="margin-left:25%;margin-right:20%;margin-top:2%;width:50%;background: rgba(0,0,0,0.5);border:2px solid white;box-shadow: 0px 0px 10px white;color:white;">
           
            <tr>
                <th>First name</th>
                <th>{{data.first_name}}</th>
            </tr>
            <tr>
                <th>Last name</th>
                <th>{{data.last_name}}</th>
            </tr>
            <tr>
                <th>username</th>
                <th>{{data.username}}</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{data.email}}</th>
            </tr>
            <tr>
                    <th>Phone</th>
                    <th>{{hr.contact}}</th>
                </tr>
            <tr>
                <th>Since username</th>
                <th>{{data.date_joined}}</th>
            </tr>
            <tr>
                <th>Last Login</th>
                <th>{{data.last_login}}</th>
            </tr>

        </table>
    </div>
    </div>
{% endblock %}