{% extends 'index.html' %}
{% load staticfiles %}
{% block mycode %}
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <select name="" id="month" class="form-control">
                    <option>Month</option>
                    <script>
                        let month = new Date().getMonth();
                        for(let i = 1; i<=month+1; i++){
                            if(i<=9){
                                document.write('<option>0'+i+'</option>');    
                            }else{
                                document.write('<option>'+i+'</option>');
                            }
                        }
                    </script>
                </select></div>
                <div class="col-md-4">
                    <select name="" id="year" class="form-control">
                        <option>Year</option>
                        <option>2019</option>
                    </select>
                </div>
            <div class="col-md-4"> <button class=" btn btn-success" onclick="getattendance()">Get Data</button></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="background:cornsilk;">
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>
<script>
    function daysinmonth(year, month){
        return new Date(year, month, 0).getDate();
    }
    function getattendance(){
        let month = $('#month').val();
        let year = $('#year').val();
        let totalhours = 0;
        if(month=='Month' && year=='Year'){
            alert('Please Choose month and year');
        }else{
            $.ajax({
                url:'{% url "myApp:getattendance" %}',
                type:'get',
                data:{year:year,month:month},
                success: function(data){
                    let days = daysinmonth(year, month);
                    let inner = '';
                    for(let p =1; p<=days;p++){
                        inner += '<tr>';
                        inner += "<td>"+p+"/"+month+"/"+year+"</td>";
                        let ddmatch = year + "-" + month + "-" + p;
                        let intime = 0;
                        let outtime = 0;
                        // console.log(ddmatch);
                        
                        for(o in data){
                            if(data[o].date==ddmatch){
                                if(data[o].attendance_type=='checkin'){
                                    intime = data[o].time;
                                    intime = intime.split('.');
                                    intime = intime[0];
                                    console.log(intime);  
                                }

                                if(data[o].attendance_type=='checkout'){
                                    outtime = data[o].time;  
                                    outtime = outtime.split('.');
                                    outtime = outtime[0];
                                }
                            }
                        }
                        inner += "<td>"+intime+"</td>";
                        inner += "<td>"+outtime+"</td>";
                        
                        let timeStart = new Date(ddmatch +" "+ intime).getHours();
                        let timeEnd = new Date(ddmatch +" "+ outtime).getHours();
                        
                        // totalhours = totalhours + hoursDiff; 
                        if(intime != 0 && outtime != 0){
                            let hourDiff = timeEnd - timeStart;
                            inner += "<td>"+hourDiff+"</td>";
                        }else{
                            inner += "<td>0</td>";
                        }
                        inner += "</tr>";
                    }
                    $('#records').html(inner);
                }
            });
        }
    }
</script>
{% endblock %}